# Spark  Electric Vehicle Charging Stations Data Analysis Project

Let's quickly practice some new skills with Spark DataFrame! You will be asked some basic questions about charging data, in this case, the data from Boulder County, Colorado in 2019.

Now, just answer the questions and complete the tasks below.

#### Use the forecasting_all.csv file to Answer and complete the  tasks below!

#### Start a simple Spark Session

In [1]:
import findspark
findspark.init

from pyspark.sql import SparkSession

spark = SparkSession.builder.appName('forecasting').getOrCreate()

#### Load the forecasting_all.csv File, have Spark infer the data types.

In [2]:
df = spark.read.csv('forecasting_all.csv', inferSchema=True, header=True)

#### What are the column names?

In [3]:
df.columns

['Date',
 '0',
 '1',
 '2',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '12',
 '13',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23']

#### What does the Schema look like?

In [4]:
df.printSchema()

root
 |-- Date: date (nullable = true)
 |-- 0: double (nullable = true)
 |-- 1: double (nullable = true)
 |-- 2: double (nullable = true)
 |-- 3: double (nullable = true)
 |-- 4: double (nullable = true)
 |-- 5: double (nullable = true)
 |-- 6: double (nullable = true)
 |-- 7: double (nullable = true)
 |-- 8: double (nullable = true)
 |-- 9: double (nullable = true)
 |-- 10: double (nullable = true)
 |-- 11: double (nullable = true)
 |-- 12: double (nullable = true)
 |-- 13: double (nullable = true)
 |-- 14: double (nullable = true)
 |-- 15: double (nullable = true)
 |-- 16: double (nullable = true)
 |-- 17: double (nullable = true)
 |-- 18: double (nullable = true)
 |-- 19: double (nullable = true)
 |-- 20: double (nullable = true)
 |-- 21: double (nullable = true)
 |-- 22: double (nullable = true)
 |-- 23: double (nullable = true)

#### Print out the first 5 columns.

In [5]:
for line in df.head(5):
    print(line, '\n')

Row(Date=datetime.date(2019, 1, 1), 0=None, 1=None, 2=None, 3=None, 4=None, 5=None, 6=None, 7=None, 8=None, 9=None, 10=3.51554, 11=3.45152, 12=3.02768, 13=8.36806, 14=11.02968, 15=10.95409, 16=12.3612, 17=9.38039, 18=6.7866, 19=3.73263, 20=4.20168, 21=6.0024, 22=6.0024, 23=3.80152)

Row(Date=datetime.date(2019, 1, 2), 0=None, 1=None, 2=None, 3=None, 4=None, 5=1.06072, 6=7.34284, 7=8.073, 8=10.75761, 9=20.7757, 10=16.75676, 11=8.69116, 12=5.4848, 13=6.49981, 14=10.23954, 15=12.408, 16=12.408, 17=9.48714, 18=5.9202, 19=2.81788, 20=6.2343, 21=1.643, 22=None, 23=None)

Row(Date=datetime.date(2019, 1, 3), 0=None, 1=None, 2=None, 3=None, 4=None, 5=0.06969, 6=1.3938, 7=6.35407, 8=7.96855, 9=11.95356, 10=21.49379, 11=24.37158, 12=33.06133, 13=24.05072, 14=14.02036, 15=14.26897, 16=10.23278, 17=8.03844, 18=6.86675, 19=13.79666, 20=8.51358, 21=4.92492, 22=None, 23=None)

Row(Date=datetime.date(2019, 1, 4), 0=None, 1=None, 2=None, 3=None, 4=None, 5=0.8983, 6=5.0061, 7=6.79905, 8=7.98048, 9=9.26498, 10=14.79712, 11=14.1755, 12=5.022, 13=15.61674, 14=14.595, 15=17.44139, 16=21.90835, 17=18.63963, 18=15.94409, 19=3.44714, 20=None, 21=5.149, 22=5.86986, 23=None)

Row(Date=datetime.date(2019, 1, 5), 0=6.609, 1=0.55075, 2=None, 3=None, 4=None, 5=None, 6=None, 7=6.13928, 8=None, 9=11.43851, 10=11.8138, 11=6.58421, 12=11.94723, 13=11.82453, 14=4.93845, 15=12.97806, 16=7.81084, 17=7.75665, 18=7.96596, 19=8.37716, 20=6.609, 21=6.609, 22=6.609, 23=6.609)

#### Use describe() to learn about the DataFrame.

In [6]:
df.describe().show()

+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|summary|                 0|                1|                 2|                 3|                 4|                 5|                 6|                7|                 8|                 9|                10|               11|                12|               13|                14|                15|                16|                17|                18|                19|                20|                21|                22|                23|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+
|  count|               142|              101|                67|                35|                24|               150|               248|              294|               340|               354|               359|              361|               362|              360|               362|               358|               356|               357|               358|               357|               341|               305|               220|               175|
|   mean|4.5170309859154925|4.282740594059405|3.7364498507462685|3.5655185714285715|3.0286704166666674|2.0185154666666656| 5.007421250000002|7.723809557823131|11.776469147058824| 18.87222954802261|20.020810278551526|20.40731421052632|19.896154392265206|18.94714852777777|16.699892790055237|14.983233743016754|14.235585084269657|15.060788655462185|17.440008994413414|15.831880700280118|11.658516803519072|7.2377464262295135| 5.714811090909094| 5.278458628571429|
| stddev|2.7834380150997737|2.459543151161948|2.2786106902801686|1.9639414565360243|2.2577876628094593|1.8632879601964014|3.4552900363042536|4.585131689913158| 7.313427216756226|10.406141670762624|10.716492428216352|9.713006479117809| 9.083186076417372|8.533750466464681|  8.21190182597137|7.7067720932151405| 7.511211629821958| 7.873242049268241| 8.921337266907633| 8.271668662727192| 6.860061420305861| 4.967531940366416|3.6754879234797366|2.9280369986641883|
|    min|           0.06955|          0.14134|            0.3986|           0.09276|           0.07794|           0.04039|            0.1117|           0.1006|           0.05617|           0.30936|           0.52335|          0.22998|           1.34589|          0.66066|           0.90459|           0.05834|            0.2639|            0.6722|           0.93434|            0.4247|           0.16887|           0.04282|           0.09917|           0.16416|
|    max|           12.8337|           11.733|          11.41083|            6.9738|            6.9738|          12.87506|          18.26867|         25.59671|          47.39603|          52.56014|          53.22409|         53.63536|           47.1654|         47.85992|          44.13196|          47.08999|          47.19205|          40.60264|          49.15453|          43.13348|          36.02123|          25.86018|           21.5154|          14.98011|
+-------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+-----------------+------------------+-----------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+------------------+


### There are too many decimal places for mean and stddev in the describe() dataframe. Format the numbers to just show up to two decimal places.

In [7]:
'''
from pyspark.sql.types import (StructField, StringType,
                               FloatType, StructType)

data_schema = [StructField('summary', StringType(), True),
               StructField('0', FloatType(), True),]

final_struc = StructType(fields=data_schema)

'''
df = spark.read.csv('forecasting_all.csv', inferSchema=True, header=True)

In [8]:
from pyspark.sql.functions import format_number

summary = df.describe()
summary.select(summary['summary'],
                  format_number(summary['0'].cast('float'), 2).alias('0'),
                  format_number(summary['1'].cast('float'), 2).alias('1'),
                  format_number(summary['2'].cast('float'), 2).alias('2'),
                  format_number(summary['3'].cast('float'), 2).alias('3'),
                  format_number(summary['4'].cast('float'), 2).alias('4'),
                  format_number(summary['5'].cast('float'), 2).alias('5'),
               format_number(summary['6'].cast('float'), 2).alias('6'),
               format_number(summary['7'].cast('float'), 2).alias('7'),
               format_number(summary['8'].cast('float'), 2).alias('8'),
               format_number(summary['9'].cast('float'), 2).alias('9'),
               format_number(summary['10'].cast('float'), 2).alias('10'),
               format_number(summary['11'].cast('float'), 2).alias('11'),
               format_number(summary['12'].cast('float'), 2).alias('12'),
               format_number(summary['13'].cast('float'), 2).alias('13'),
               format_number(summary['14'].cast('float'), 2).alias('14'),
               format_number(summary['15'].cast('float'), 2).alias('15')
                 ).show()

+-------+------+------+-----+-----+-----+------+------+------+------+------+------+------+------+------+------+------+
|summary|     0|     1|    2|    3|    4|     5|     6|     7|     8|     9|    10|    11|    12|    13|    14|    15|
+-------+------+------+-----+-----+-----+------+------+------+------+------+------+------+------+------+------+------+
|  count|142.00|101.00|67.00|35.00|24.00|150.00|248.00|294.00|340.00|354.00|359.00|361.00|362.00|360.00|362.00|358.00|
|   mean|  4.52|  4.28| 3.74| 3.57| 3.03|  2.02|  5.01|  7.72| 11.78| 18.87| 20.02| 20.41| 19.90| 18.95| 16.70| 14.98|
| stddev|  2.78|  2.46| 2.28| 1.96| 2.26|  1.86|  3.46|  4.59|  7.31| 10.41| 10.72|  9.71|  9.08|  8.53|  8.21|  7.71|
|    min|  0.07|  0.14| 0.40| 0.09| 0.08|  0.04|  0.11|  0.10|  0.06|  0.31|  0.52|  0.23|  1.35|  0.66|  0.90|  0.06|
|    max| 12.83| 11.73|11.41| 6.97| 6.97| 12.88| 18.27| 25.60| 47.40| 52.56| 53.22| 53.64| 47.17| 47.86| 44.13| 47.09|
+-------+------+------+-----+-----+-----+------+------+------+------+------+------+------+------+------+------+------+

In [9]:
summary.select(summary['summary'],
               format_number(summary['16'].cast('float'), 2).alias('16'),
               format_number(summary['17'].cast('float'), 2).alias('17'),
               format_number(summary['18'].cast('float'), 2).alias('18'),
               format_number(summary['19'].cast('float'), 2).alias('19'),
               format_number(summary['20'].cast('float'), 2).alias('20'),
               format_number(summary['21'].cast('float'), 2).alias('21'),
               format_number(summary['22'].cast('float'), 2).alias('22'),
               format_number(summary['23'].cast('float'), 2).alias('23')
               
                ).show()

+-------+------+------+------+------+------+------+------+------+
|summary|    16|    17|    18|    19|    20|    21|    22|    23|
+-------+------+------+------+------+------+------+------+------+
|  count|356.00|357.00|358.00|357.00|341.00|305.00|220.00|175.00|
|   mean| 14.24| 15.06| 17.44| 15.83| 11.66|  7.24|  5.71|  5.28|
| stddev|  7.51|  7.87|  8.92|  8.27|  6.86|  4.97|  3.68|  2.93|
|    min|  0.26|  0.67|  0.93|  0.42|  0.17|  0.04|  0.10|  0.16|
|    max| 47.19| 40.60| 49.15| 43.13| 36.02| 25.86| 21.52| 14.98|
+-------+------+------+------+------+------+------+------+------+

#### Total Charge per Hour for the Year and show up to two decimal places.

In [24]:
#Another way to write

from pyspark.sql.functions import col, sum

# Convert each column to double type
df_double = df.select([col(c).cast('double') for c in df.columns])

# Sum each column
sum_result = df_double.agg(*[sum(col).alias(col) for col in df_double.columns])

# Limit the number of decimal places
formatted_result = sum_result.select(
    *[format_number(col(c), 2).alias(c) for c in sum_result.columns]
)

# Show results
formatted_result.show(1)

+----+------+------+------+------+-----+------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------+
|Date|     0|     1|     2|     3|    4|     5|       6|       7|       8|       9|      10|      11|      12|      13|      14|      15|      16|      17|      18|      19|      20|      21|      22|    23|
+----+------+------+------+------+-----+------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------+
|null|641.42|432.56|250.34|124.79|72.69|302.78|1,241.84|2,270.80|4,004.00|6,680.77|7,187.47|7,367.04|7,202.41|6,820.97|6,045.36|5,364.00|5,067.87|5,376.70|6,243.52|5,651.98|3,975.55|2,207.51|1,257.26|923.73|
+----+------+------+------+------+-----+------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+--------+------+

#### Create a new dataframe with a column called AGV(0-3H) that is the total charging amount between 0:00 (midnight) and 3:00 AM.

In [14]:
df = df.fillna(0)


df_hv = df.withColumn('AGV(0-3H)', df['0']+df['1']+df['2']).select(['AGV(0-3H)'])
df_hv.show()

+------------------+
|         AGV(0-3H)|
+------------------+
|               0.0|
|               0.0|
|               0.0|
|               0.0|
|           7.15975|
|               0.0|
|               0.0|
|               0.0|
|           5.76576|
|               0.0|
|               0.0|
|               0.0|
|               0.0|
|          11.01324|
|            0.3317|
|            2.7804|
|15.759820000000001|
|           3.36629|
|           9.54897|
|           1.10902|
+------------------+
only showing top 20 rows

#### What day had the Peak High of Charging amount in 18H ?

In [15]:
df.orderBy(df['18'].desc()).select(['Date']).head()

Row(Date=datetime.date(2019, 9, 13))

#### What is the max and min of Charging amount in 18H ?

In [16]:
from pyspark.sql.functions import min, max
df.select(max('18'),min('18')).show()

+--------+-------+
| max(18)|min(18)|
+--------+-------+
|49.15453|    0.0|
+--------+-------+

#### How many days was the Charging amount lower than 3 kw in 18H?

In [17]:
df.filter(df['18'] < 3).count()

11

#### What percentage of the time was the High greater than 200 kw ?
#### In other words, (Number of Days High>200)/(Total Days in the dataset)

In [25]:
df_without_date = df.drop('Date')

In [27]:
df_with_sum = df.withColumn("sum24H", df['0'] + df['1'] + df['2'] + df['3'] + df['4'] + df['5'] + df['6'] + df['7'] + df['8'] + df['9'] + df['10'] + df['11'] + df['12'] + df['13'] + df['14'] + df['15'] + df['16'] + df['17'] + df['18'] + df['19'] + df['20'] + df['21'] + df['22'] + df['23'])

In [28]:
df_with_sum.select('sum24H').show()

+------------------+
|            sum24H|
+------------------+
| 92.61538999999998|
|         146.60046|
|         211.37955|
|182.55472999999998|
|         143.17043|
|176.25732999999997|
|250.48192000000003|
|180.68962000000002|
|         325.21041|
|         232.11298|
|         213.00623|
|         135.76594|
|176.14228000000003|
|         277.52525|
| 280.0675999999999|
|         302.19502|
|246.56322000000003|
|225.57250000000005|
|187.45399999999998|
|         150.90042|
+------------------+
only showing top 20 rows

In [54]:

df_with_sum.filter('sum24H > 200').count() * 100/df_with_sum.count()

68.04407713498622

#### What is the max sum per month?

In [57]:
from pyspark.sql.functions import (dayofmonth, hour,
                                   dayofyear, month,
                                   year, weekofyear,
                                  format_number, date_format)

year_df = df_with_sum.withColumn('month', month(df_with_sum['Date']))

year_df.groupBy('month').max()['month', 'max(sum24H)'].show()

+-----+------------------+
|month|        max(dfsum)|
+-----+------------------+
|   12|424.69754000000006|
|    1|404.81627000000003|
|    6|373.87354000000005|
|    3|376.42245999999994|
|    5|373.89501000000007|
|    9|         340.04068|
|    4|325.02076999999997|
|    8|         385.32561|
|    7|410.82541000000003|
|   10|387.20394000000005|
|   11| 507.3198999999999|
|    2|409.21792999999997|
+-----+------------------+

#### What is the average charging volume for each calendar month?
#### In other words, what is the average charging volume for the months of January, February, March, etc. in all years? You will be given the average of these months.

In [59]:
#Create a new column Month from existing Date column
month_df = year_df.withColumn('Month', month(df['Date']))

#Group by month and take average of all other columns
month_df = month_df.groupBy('Month').mean()

#Sort by month
month_df = month_df.orderBy('Month')

#Display only month and avg(Close), the desired columns
month_df['Month', 'avg(dfsum)'].show()

+-----+------------------+
|Month|        avg(dfsum)|
+-----+------------------+
|    1|228.88515967741938|
|    2|249.60757642857138|
|    3|205.35038387096773|
|    4|220.12105566666656|
|    5| 239.5106480645161|
|    6|216.61912066666665|
|    7| 246.1196780645161|
|    8|260.59578387096775|
|    9|249.87301633333334|
|   10| 256.9730729032258|
|   11|249.54146933333337|
|   12|244.11166344827592|
+-----+------------------+

# Thank you!